* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: #fff;
}

#navbar {
    color: #fff;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 300px;
    flex-direction: column;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    overflow: hidden;

}

#navbar ul {
    list-style-type: none;
    display: flex;
    align-items: center;
}

#navbar ul li a {
    padding: 1rem;
}

#navbar ul li a:hover {
    background: #8bb3ad;
    border-radius: 3px;
}

.text-center {
    text-align: center;
}

.background {
    background-color: #364e4a;
}

#hiz ul {
    list-style-type: none;
}

.container {
    width: auto;
    margin: 0 outo;

}

#footer {
    margin-left: auto;
    margin-right: auto;
    background-color: #1A252F;
    padding-top: 1.2rem;
    padding-bottom: 1.2rem;
    color: #fff;
    text-align: center;
}

.background2 {
    background-color: #50ccb7;
}

.align-items {
    align-items: center;
}

#main {
    display: flex;
    background: #c9f5ed;
}


#sidebar {
    background-color: #a0b8b3;
    flex: 25%;
    padding: 20px;
    order: 1;
}

.box {
    margin-bottom: 20px;
    text-align: center;
}

p {
    margin: 10px 0;
}

#content {
    flex: 75%;
    padding: 20px;
}

.ph {
    background-color: ;
    width: 100%;
    padding: 20px;
    margin-top: 10px;
}

@media screen and (max-width: 700px) {

    #main {
        flex-direction: column;
    }
}

.border {
    border: 1px solid grey;
    padding: 10px;
    border-radius: 20px;
}

.kariyerbox {
    border: 2px solid grey;
    padding: 20px;
    border-radius: 20px;

}
.karph{
    background-color: ;
    width: 100%;
    padding: 20px;
    margin-top: 10px;
    display: flex;
}
